html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.App {
    overflow-y: hidden;
}

.filesElement {
    border: 3px solid transparent;
    background-color: #f8f9fa;
}

.filesElement:hover {
    border: 3px solid #0D6EFD;
    background-color: #6EA8FE;
}

.filesElement-active {
    border: 3px solid #0D6EFD;
    background-color: #6EA8FE;
}

.dropdown_label {
    display: inline-block;
    position: relative;
    left: 5px;
}

.dropdown_options {
    position: relative;
    left: 20px;
}

.sidebar {
    height: 100%;
    width: 100%;
    background-color: lightgray;
}

.files {
    height: 100%;
    background-color: lightgray;
}