html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.App {
    overflow-y: hidden;
}

.dropdown_label{
    display: inline-block;
    position: relative;
    left: 5px;
}

.dropdown_options {
    position: relative;
    left: 20px;
}

.sidebar {
    height: 100%;
    width: 100%;
    background-color: lightgray;
    padding: 5px;
}


.sidebar.collapsed {
    width: auto;
}

.sidebar_header {
    display: flex;
    justify-content: space-between;
}

.no-padding {
    padding: 0 !important;
}

.sidebar_filters {
    padding-top: 3px;
}